[submodule "kirito"]
	path = kirito
	url = git@github.com:isshoni-soft/kirito.git
[submodule "roxxy"]
	path = roxxy
	url = git@github.com:isshoni-soft/roxxy.git
[submodule "git-task"]
	path = git-task
	url = git@github.com:isshoni-soft/git-task.git
